.dot-base {
  width: 16px;
  height: 16px;
  background-color: #0050ff;
}
.dot-base--sm {
  width: 10px;
  height: 10px;
  margin-bottom: 1.25rem;
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 4px 4px 8px 4px #888888;
  background-color: white;
}

.header {
  width: 100%;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 0rem;
  }
}
.header__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 0.25rem;
}
.header__info h1 {
  font-size: 1.25rem;
}
@media (min-width: 1024px) {
  .header__info h1 {
    font-size: 2rem;
  }
}
.header__info h3 {
  display: block;
  font-size: 1rem;
  letter-spacing: 4px;
  margin-bottom: 0.25rem;
}
.header__info--name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.header__action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  gap: 1rem;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .header__action {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .header__action {
    font-size: 1rem;
  }
}
.header__action--item {
  transition: all 0.3s;
}
.header__action--item:hover {
  scale: 1.15;
  color: #0050ff;
}

.contents {
  width: 100%;
  padding: 2rem 1rem;
  background: #e6dace;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .contents {
    background: linear-gradient(to right, #e6dace, #e6dace 50%, #fff 50%, #fff);
    padding: 4rem 1rem;
  }
}

.user-card {
  width: 100%;
  max-width: 678px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .user-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.user-card__info {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  height: 100%;
  background-color: #f4ece6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 4px 4px 8px 4px #888888;
}
.user-card__info .user-info {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-card__info .user-info--avt {
  width: 100%;
  max-width: 205px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.user-card__info .user-info--avt img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.user-card__info .user-info--name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.user-card__info .user-info--name h1 {
  width: fit-content;
  padding: 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 2px solid #0050ff;
}
.user-card__info .user-info--location {
  width: 100%;
  font-size: 14px;
  text-align: center;
  letter-spacing: 4px;
}
.user-card__info--contact {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  gap: 1rem;
}
.user-card__slogan {
  width: 100%;
  height: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}
@media (min-width: 768px) {
  .user-card__slogan {
    width: 45%;
    max-width: unset;
  }
}
.user-card__slogan h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.user-card__slogan h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.user-card__slogan p {
  font-size: 1rem;
}

.contact-item {
  width: 28px;
  height: 28px;
  padding: 0.25rem;
  transition: all 0.2s;
  margin-right: 0.5rem;
}
.contact-item:last-child {
  margin-right: 0;
}
.contact-item:hover {
  scale: 1.5;
}

.section-page {
  width: 100%;
  background-color: #f4ece6;
}
.section-page:nth-child(even) {
  background-color: white;
}
.section-page:nth-child(even) .card-exp {
  background-color: #f4ece6;
}
.section-page .section-contents {
  max-width: 1024px;
  margin: 64px auto;
  padding: 64px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section-page .section-contents {
    margin: 0 auto;
    padding: 16% 1rem;
  }
}
@media (min-width: 1024px) {
  .section-page .section-contents {
    padding: 10%;
  }
}
.section-page .section-contents__header {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 12px;
  gap: 1rem;
}
@media (min-width: 768px) {
  .section-page .section-contents__header {
    font-size: 1rem;
    letter-spacing: 4px;
  }
}
.section-page .section-contents__header h1 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .section-page .section-contents__header h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section-page .section-contents__header h1 {
    font-size: 2rem;
  }
}
.section-page .section-contents__body {
  width: 100%;
}

.card-exp {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 6%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .card-exp {
    flex-direction: row;
    justify-content: space-between;
    padding: 6% 4%;
  }
}
.card-exp:last-child {
  margin-bottom: 0;
}
.card-exp__title {
  width: 100%;
}
@media (min-width: 768px) {
  .card-exp__title {
    width: 40%;
  }
}
.card-exp__title h1 {
  color: #0050ff;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}
.card-exp__title h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
@media (min-width: 1024px) {
  .card-exp__title h3 {
    font-size: 1rem;
  }
}
.card-exp__desc {
  width: 100%;
  margin-top: 2rem;
  border-top: 2px solid #888888;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .card-exp__desc {
    width: 55%;
    border-top: none;
    padding-top: 0rem;
    margin-top: 0rem;
  }
}
.card-exp__desc p {
  margin-bottom: 1rem;
}
.card-exp__desc p b {
  text-transform: uppercase;
}
.card-exp__desc p:last-child {
  margin-bottom: 0;
}

.skill-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.skill-item__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #0050ff;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .skill-item__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .skill-item__title {
    font-size: 1.5rem;
  }
}
.skill-item__desc {
  font-style: italic;
  font-size: 14px;
}
@media (min-width: 768px) {
  .skill-item__desc {
    font-size: 1rem;
  }
}

.skill-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: start;
  align-content: start;
  gap: 1rem;
}
@media (min-width: 768px) {
  .skill-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

#contacts {
  box-shadow: 4px 4px 8px 4px #888888;
}
#contacts a:last-child .contact-ft {
  margin-bottom: 0;
}
#contacts.section-page {
  background-color: white;
}
#contacts .section-contents {
  width: 100%;
  padding: 10%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #contacts .section-contents {
    padding: 6%;
  }
}
@media (min-width: 1024px) {
  #contacts .section-contents {
    padding: 4%;
  }
}
#contacts .section-contents__header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
#contacts .contact-ft {
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0.25rem 1rem;
  transition: all 0.3s;
}
#contacts .contact-ft:hover {
  scale: 1.2;
}
#contacts .contact-ft--icon {
  width: 28px;
  height: 28px;
}
#contacts .contact-ft--title {
  font-size: 1rem;
}
@media (min-width: 768px) {
  #contacts .contact-ft--title {
    font-size: 1.25rem;
  }
}

#skill .section-contents {
  margin: 0 auto;
}
